.Indchat{
    margin: 10px 30px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}
.info{
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.info .sender{
    font-weight: bold;
}
.message{
    padding: 0px 30px;
    text-align: justify;
}